body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	font-weight: 500;
	min-width: rem($minWidth);
	min-height: 100%;
	line-height: normal;
	color: $text;
	margin-right: 0 !important;
	&:has(.header.open-menu) {
		@media (max-width: $md3) {
			overflow: hidden;
		}
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: clip;
}

.page {
	flex: 1 1 auto;
	// overflow: hidden;
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

[class*="__container"] {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 rem(16);
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: $maxWidthContainer;
	}
	@media (min-width: $md0) {
		max-width: rem(1522);
	}
}

//=============== LAYOUT ===============================

.swiper-button-next,
.swiper-button-prev {
	position: static;
	top: auto;
	left: auto;
	right: auto;
	margin: 0;
	transform: none;
	transition: opacity 0.3s ease 0s;
	color: inherit;
	font-size: 1.875rem;
	@extend %ic;
	z-index: 2;
	&::before {
		color: currentColor;
	}
	&::after {
		display: none;
	}
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.5;
		}
	}
	&.swiper-button-lock {
		display: none;
	}
}
.swiper-button-next {
	@extend .icon-next;
}
.swiper-button-prev {
	@extend .icon-prev;
}
