@font-face {
                            font-family: 'Geologica';
                            font-display: swap;
                            src: url("../fonts/Geologica-Light.woff2") format("woff2"), url("../fonts/Geologica-Light.woff") format("woff");
                            font-weight: 300;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'Geologica';
                            font-display: swap;
                            src: url("../fonts/Geologica-Medium.woff2") format("woff2"), url("../fonts/Geologica-Medium.woff") format("woff");
                            font-weight: 500;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'Geologica';
                            font-display: swap;
                            src: url("../fonts/Geologica-Regular.woff2") format("woff2"), url("../fonts/Geologica-Regular.woff") format("woff");
                            font-weight: 400;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'Geologica';
                            font-display: swap;
                            src: url("../fonts/Geologica-Thin.woff2") format("woff2"), url("../fonts/Geologica-Thin.woff") format("woff");
                            font-weight: 100;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'icons';
                            font-display: swap;
                            src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
                            font-weight: 400;
                            font-style: normal;
                        }
