.header {
	position: relative;
	z-index: 6;
	// .header__container
	&__container {
	}
	// .header__top
	&__top {
		display: flex;
		align-items: center;

		padding: rem(16) 0;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100vw;
			height: 100%;
			background: #fff;
			border-bottom: rem(1) solid #dde3ed;
			z-index: 11;
			@media (min-width: $md4) {
				z-index: -1;
			}
		}
		gap: 0.25rem;
		@media (min-width: $md5) {
			gap: 1rem;
		}
		@media (min-width: $md2) {
			padding: rem(27) 0;
			gap: 1.5rem;
		}
		@media (min-width: $md1) {
			gap: 2.93rem;
		}
		@media (min-width: $md0) {
			padding: rem(24) 0;
			gap: 5.44rem;
		}
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 11;
		max-width: rem(160);
		margin-right: auto;
		@media (min-width: $md4) {
			margin-right: 0;
		}
		@media (min-width: $md2) {
			max-width: rem(210);
		}
		@media (min-width: $md0) {
			max-width: rem(219);
		}
	}
	// .header__main
	&__main {
		@media (min-width: $md4) {
			flex: 1 1 auto;
		}
	} // .header__phones-menu
	&__phones-menu {
		position: relative;
		z-index: 11;
		@media (min-width: $md4) {
			display: none;
		}
	}
	// .header__phones-body
	&__phones-body {
		position: absolute;
		top: 100%;
		right: 0;
		transform-origin: center top;
		transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
		opacity: 0;
		visibility: hidden;
		will-change: transform;
		transform: translate3d(0, rem(-7), 0);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		background: #f3f7fd;
		border-radius: 0.25rem;
		padding: 1.5rem 1rem;
		width: rem(220);
		&.active {
			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}
	// .header__phones-toggler
	&__phones-toggler {
		width: rem(50);
		height: rem(50);
		font-size: 1.75rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .header__main-heading
	&__main-heading {
		position: relative;
		z-index: 11;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (min-width: $md4) {
			align-items: flex-start;
		}
	}
	// .header__tagline
	&__tagline {
		display: none;
		@media (min-width: $md4) {
			display: block;
			color: #3972c4;
			font-size: 0.875rem;
			line-height: 1;
			letter-spacing: 0.1225rem;
		}
	}
	// .header__mail
	&__mail {
		font-size: 0;
		&::before {
			width: rem(50);
			height: rem(50);
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: rem(32);
			@media (min-width: $md4) {
				width: 1rem;
				height: 1rem;
				font-size: 1rem;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
		@media (min-width: $md4) {
			color: #3972c4;
			gap: 0.37rem;
			line-height: 1;
			position: relative;
			text-underline-position: from-font;
			font-size: 1rem;
			padding-left: 1.37rem;
		}

		@media (any-hover: hover) {
			&:hover {
				text-decoration-line: underline;
			}
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__low-eye
	&__low-eye {
		display: none;
		@media (min-width: $md3) {
			align-self: flex-end;
			display: flex;
			align-items: center;
			gap: 0.62rem;
			font-size: 0.9375rem;
			line-height: 133.333%;
			text-transform: uppercase;
			max-width: 11.2rem;
			transition: color 0.3s ease;
		}
		& span {
			display: none;
			@media (min-width: $md2) {
				display: inline;
			}
		}
		&::before {
			width: 2.3125rem;
			height: 2.3125rem;
			font-size: 1.25rem;
			flex-shrink: 0;
			border-radius: 50%;
			background: #3972c4;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #3972c4;
			}
		}
	}
	// .header__bottom
	&__bottom {
		display: none;
		.header__socials {
			@media (max-width: $md2) {
				display: none;
			}
		}
		@media (min-width: $md3) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 0.5rem;
			padding: rem(10) 0 rem(14);
		}
		@media (min-width: $md0) {
			padding: rem(10) 0;
			gap: 1rem;
		}
	}
	// .header__services
	&__services {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		@media (min-width: $md4) {
			gap: 0.25rem;
			flex-direction: row;
		}
	}
	// .header__services-block
	&__services-block {
		position: relative;
		@media (any-hover: hover) {
			&:hover {
				.header__services-btn {
					background: #3972c4;
					&::before {
						transform: rotate(180deg);
					}
				}
				.header__services-menu {
					opacity: 1;
					visibility: visible;
					transform: translate3d(0, 0, 0);
				}
			}
		}
	}
	// .header__services-btn
	&__services-btn {
		&.btn.btn-secondary {
			@media (max-width: $md4) {
				background: transparent;
				color: inherit;
				padding: 0;
				text-transform: none;
				gap: 0;
				&.active {
					color: #3972c4;
				}
			}
		}
		@media (hover: none) {
			&.active {
				background: #3972c4;
				&::before {
					transform: rotate(180deg);
				}
			}
		}
		&::before {
			transition: transform 0.3s ease;
		}
	}
	// .header__services-menu
	&__services-menu {
		@media (max-width: $md4) {
			margin-top: 1rem;

			display: none;
			&.open {
				display: block;
			}
		}
		@media (min-width: $md4) {
			position: absolute;
			top: 100%;
			padding-top: 0.62rem;
			z-index: 2;
			transform-origin: center top;
			transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
			opacity: 0;
			visibility: hidden;
			will-change: transform;
			transform: translate3d(0, rem(-7), 0);
		}
		@media (hover: none) {
			&.open {
				opacity: 1;
				visibility: visible;
				transform: translate3d(0, 0, 0);
			}
		}
	}
	// .header__body
	&__services-body {
		@media (min-width: $md3) {
			border-bottom: rem(1) solid #dde3ed;
			background: #f3f7fd;
			padding: 2.06rem 2.19rem;
			&:has(.header__service:nth-child(2)) {
				column-gap: 2.5rem;
				columns: 2;
			}
		}
		@media (min-width: $md2) {
			&:has(.header__service:nth-child(3)) {
				column-gap: 2.5rem;
				columns: 3;
			}
		}
	}
	// .header__service
	&__service {
		min-width: 19.6875rem;
		break-inside: avoid;
		&:not(:last-child) {
			margin-bottom: 1.5rem;
			@media (min-width: $md4) {
				margin-bottom: 2.5rem;
			}
		}
	}
	// .header__service-caption
	&__service-caption {
		color: #3972c4;
		line-height: 130%;
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
		&:is(a) {
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: darken($color: #3972c4, $amount: 10);
				}
			}
		}
	}
	// .header__service-list
	&__service-list {
		&:not(:first-child) {
			margin-top: 1.25rem;
		}
	}
	// .header__service-item
	&__service-item {
		@extend .submenu__item;
	}
	// .header__service-link
	&__service-link {
		@extend .submenu__link;
	}
	// .header__phones
	&__phones {
		display: flex;

		font-size: 1rem;
		line-height: 1;
		text-transform: uppercase;
		gap: 1rem;
		position: relative;
		padding-left: 1.87rem;

		&::before {
			color: #3972c4;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 1.25rem;
			height: 1.25rem;
			font-size: 1.25rem;
			@media (min-width: $md0) {
				width: 1.5rem;
				height: 1.5rem;
				font-size: 1.75rem;
			}
		}
		flex-direction: column;
		align-items: flex-start;
		@media (min-width: $md1) {
			align-items: center;
			flex-direction: row;
		}
		@media (min-width: $md0) {
			font-size: 1.125rem;
			margin-left: 2.5rem;
		}
	}
	// .header__phone
	&__phone {
	}
	// .header__socials
	&__socials {
		display: flex;
		align-items: center;
		gap: rem(10);
		@media (min-width: $md0) {
			margin-left: 2.5rem;
		}
	}
	// .header__social
	&__social {
		width: 2.25rem;
		height: 2.25rem;
		font-size: 1.25rem;
		flex-shrink: 0;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		transition: background-color 0.3s ease;
		&.icon-whatsapp {
			background: #60d669;
			@media (any-hover: hover) {
				&:hover {
					background-color: darken($color: #60d669, $amount: 15);
				}
			}
		}
		&.icon-telegram {
			position: relative;
			z-index: 1;
			background: #229ed9;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				z-index: -1;
				transition: opacity 0.3s ease;
				background: linear-gradient(to bottom, #2aabee 0%, #229ed9 100%);
			}
			@media (any-hover: hover) {
				&:hover {
					background: darken($color: #229ed9, $amount: 10);
					&::after {
						opacity: 0;
					}
				}
			}
		}
		&.icon-vk {
			background: #298eed;
			@media (any-hover: hover) {
				&:hover {
					background-color: darken($color: #298eed, $amount: 10);
				}
			}
		}
	}
	// .header__actions
	&__actions {
		display: flex;
		gap: 0.25rem;
		flex-direction: column;
		@media (min-width: $md5) {
			flex-wrap: wrap;
			flex-direction: row;
		}
	}
	// .header__btn
	&__btn {
	}
}

.menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	overflow-x: hidden;
	overflow-y: auto;
	transition: transform 0.3s ease 0s;
	transform: translateX(100%);
	background: #fff;
	padding: 8rem 1rem 2rem;
	.header.open-menu & {
		transform: translateX(0);
		@media (min-width: $md3) {
			transform: none;
		}
	}
	@media (min-width: $md4) {
		background: transparent;
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
		height: auto;
		margin-top: 1rem;
		padding: 0;
		transition: none;
		overflow-x: visible;
		overflow-y: visible;
		transform: none;
	}
	// .menu__list
	&__list {
		display: flex;
		flex-direction: column;
		line-height: 1;
		font-size: 0.9375rem;
		letter-spacing: 0.01875rem;
		gap: 1rem;
		max-width: rem(540);
		width: 100%;
		margin: 0 auto;
		@media (min-width: $md4) {
			max-width: 100%;
			margin: 0;
			width: auto;
			gap: 0.5rem;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		@media (min-width: $md3) {
			max-width: 100%;
		}
		@media (min-width: $md0) {
			letter-spacing: 0.02125rem;
			font-size: 1.0625rem;
		}
	}
	// .menu__item
	&__item {
		&.menu__item--parent {
			position: relative;
			display: flex;
			align-items: center;
			gap: 0.25rem;
			flex-wrap: wrap;
			@media (min-width: $md4) {
				flex-wrap: nowrap;
			}
			@media (min-width: $md1) {
				gap: 0.75rem;
			}
			@media (hover: none) {
				&:has(.menu__arrow.active) {
					.menu__arrow,
					.menu__link {
						color: #3972c4;
					}
				}
			}
			@media (any-hover: hover) {
				&:hover {
					.menu__arrow,
					.menu__link {
						color: #3972c4;
					}
					.menu__arrow {
						transform: rotate(180deg);
					}
					& .submenu {
						@media (min-width: $md3) {
							opacity: 1;
							visibility: visible;
							transform: translate3d(0, 0, 0);
						}
					}
				}
			}
		}
	}

	// .menu__link
	&__link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #3972c4;
			}
		}
	}
	// .menu__arrow
	&__arrow {
		transition: color 0.3s ease, transform 0.3s ease;
		font-size: 0.75rem;
		&.active {
			transform: rotate(180deg);
		}
	}
	// .menu__bottom
	&__bottom {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: 1rem;
		max-width: rem(540);
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		@media (min-width: $md4) {
			display: none;
		}
	}
	&__services {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: 1rem;
		max-width: rem(540);
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
		@media (min-width: $md4) {
			display: none;
		}
	}
}

.submenu {
	@media (max-width: $md4) {
		flex: 0 0 100%;
		display: none;
		&.open {
			display: block;
		}
	}
	@media (min-width: $md4) {
		position: absolute;
		top: 100%;
		z-index: 2;
		min-width: 24.0625rem;
		transform-origin: center top;
		transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
		opacity: 0;
		visibility: hidden;
		will-change: transform;
		transform: translate3d(0, rem(-7), 0);
		padding-top: 1rem;
	}
	@media (min-width: $md2) {
		padding-top: 1.87rem;
	}
	@media (hover: none) {
		&.open {
			opacity: 1;
			visibility: visible;
			transform: translate3d(0, 0, 0);
		}
	}
	&__list {
		margin-top: 1rem;

		@media (min-width: $md4) {
			margin-top: 0;
			background: #f3f7fd;
			padding: 2.12rem 2.19rem;
		}
	}
	// .submenu__item
	&__item {
		padding-left: 1.81rem;
		position: relative;
		color: #282b3c;
		line-height: 137.5%;
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1rem;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 1.1875rem;
			height: 1.1875rem;
			background: url("@img/icons/arrows-blue.svg") center / 0.875rem no-repeat;
		}
		&:not(:last-child) {
			margin-bottom: 0.63rem;
		}
	}
	// .submenu__link
	&__link {
		transition: color 0.3s ease;
		text-underline-position: from-font;
		display: inline-block;
		max-width: 17rem;
		@media (any-hover: hover) {
			&:hover {
				color: #203299;
				text-decoration-line: underline;
			}
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	justify-content: center;
	padding: 0;
	order: 1;
	z-index: 11;
	height: rem(50);
	color: $text;
	min-width: rem(50);

	padding: rem(12);

	@media (min-width: $md4) {
		display: none;
	}
	& span {
		display: block;
		padding: rem(3) rem(0);

		width: 100%;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		&::before {
			content: "";
			display: block;
			height: rem(2);
			width: 100%;
			margin-left: auto;
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
	}
	.header.open-menu & {
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
				width: 90%;
			}
			&:first-child {
				transform: translateY(rem(8));

				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-8));

				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
